.App-header{
        background-color: #222;
        height: 186px;
        padding: 20px;
        color: #fff;
}
.lists-Container{
    display: flex;
    width: 80%;
    height: 80%;
    margin: auto;
}
.search{
    margin-right: 500px;
}
.trash{
    display: inline;
    float: right;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.groceries-header{
    display: block;
}